#mainDiv{
	position: absolute;
	background-color: #111111;
	width: 100%;
	height: 100px;
	max-width: 1920px;
	max-height: 100px;
	top: -0.5px;
	left: -0.5px;
}
#Logo{
}
#LogoTextone{
	position: absolute;
	color: #FFFFFF;
	font-family: 'Work Sans', sans-serif;
	top: -34px;
	font-size: 40px;
	left: 10px;

}
#LogoTexttwo{
	position: absolute;
	color: #FFFFFF;
	font-family: 'Work Sans', sans-serif;
	top: 33px;
	font-size: 16px;
	left: 61px;
}
#LogoTextthree{
	position: absolute;
	color: #FFFFFF;
	font-family: 'Work Sans', sans-serif;
	top: 47px;
	font-size: 20px;
	left: 30px;
}
#navigation-key1{
	position: absolute;
	font-family: 'Work Sans', sans-serif;
	left: 340px;
	top: 16px;
	color: #FFFFFF;
}
#navigation-key2{
	position: absolute;
	font-family: 'Work Sans', sans-serif;
	color: #FFFFFF;
	left: 470px;
	top: 16px;
}
#navigation-key3{
	position: absolute;
	font-family: 'Work Sans', sans-serif;
	color: #FFFFFF;
	left: 585px;
	top: 16px;
}
#navigation-key4{
	position: absolute;
	font-family: 'Work Sans', sans-serif;
	color: #FFFFFF;
	left: 740px;
	top: 16px;
}
#navigation-key5{
	position: absolute;
	font-family: 'Work Sans', sans-serif;
	color: #FFFFFF;
	left: 850px;
	top: 16px;
}
#number-1{
	position: absolute;
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
	left: 1080px;
	top: 1px;
	font-size: 20px;
}
#number-2{
	position: absolute;
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
	left: 1080px;
	top: 33px;
	font-size: 20px;
}
body{
	background-image: url('background-image.jpg');
}
#h1Text{
	position: absolute;
	top: 60px;
	color: #FFFFFF;
	font-family: 'Noto Sans', sans-serif;
	left: 130px;
	font-size: 70px;
}
#h1Text-2{
	position: absolute;
	top: 129px;
	color: #FFFFFF;
	font-family: 'Noto Sans', sans-serif;
	left: 130px;
	font-size: 70px;
}
#h1Text-3{
	position: absolute;
	top: 196px;
	color: #FFFFFF;
	font-family: 'Noto Sans', sans-serif;
	left: 130px;
	font-size: 70px;
}
#h1Texts{
	position: absolute;
	top: 325px;
	color: #FFFFFF;
	font-family: 'Noto Sans', sans-serif;
	left: 110px;
	font-size: 18px;
}
#header{
	width: 100%;
	max-width: 1920px;
}
#footer{
	width: 100%;
	max-width: 100%;
}
#navigation-key1:hover{
	border-bottom: 2px solid #FFFFFF;
}
#navigation-key2:hover{
	border-bottom: 2px solid #FFFFFF;
}
#navigation-key3:hover{
	border-bottom: 2px solid #FFFFFF;

}
#navigation-key4:hover{
	border-bottom: 2px solid #FFFFFF;
}
#navigation-key5:hover{
	border-bottom: 2px solid #FFFFFF;
}
#h1-footer{
	position: absolute;
	top: 400px;
	left: 925px;
	font-family: 'Noto Sans', sans-serif;
	color: #FFFFFF;
	font-size: 39px;
}
#download{
  display: inline-block;
  color: white;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 1px solid;
  border-radius: 1px;
  transition: 0.2s;
  position: absolute;
  top: 600px;
  left: 915px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
} 
#download:hover { background: rgba(255,255,255,.2); }
#download:active { background: white; }
}
#yslygimain{
	color: #FFFFFF;
}
#container{
	position: absolute;
	top: 500px;
	left: 500px;
}
#textKolegi{
	position: absolute;
	top: -430px;
	color: #FFFFFF;
	font-family: 'Work Sans', sans-serif;
	font-size: 70px;
	right: 365px;
}
#textKolegi-two{
	position: absolute;
	top: -338px;
	color: #FFFFFF;
	font-family: 'Work Sans', sans-serif;
	font-size: 45px;
	right: 315px;
}
#sponsors{
	position: absolute;
	top: -200px;
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
	right: 270px;
	font-size: 20px;
}

#h2Text{
	position: absolute;
	color: #FFFFFF;
	top: 640px;
	left: 950px;
	font-family: 'Work Sans', sans-serif;
	font-size: 40px;
}
#sponsor{
	position: relative;
	color: #FFFFFF;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	top: -240px;
	right: 385px;
}
#icon-donatepay{
	position: absolute;
	top: 730px;
	left: 1130px;
}
#text-1{
	position: absolute;
	color: #FFFFFF;
	font-family: 'Noto Sans', sans-serif;
	top: 65px;
	font-size: 70px;
	left: 135px;	
}
#text-2{
	position: absolute;
	top: 155px;
	color: #FFFFFF;
	font-family: 'Noto Sans', sans-serif;
	font-size: 50px;
	left: 135px;
}
#text-3{
	position: absolute;
	top: 215px;
	color: #FFFFFF;
	font-family: 'Noto Sans', sans-serif;
	font-size: 50px;
	left: 135px;
}
#text-4{
	position: absolute;
	color: #FFFFFF;
	top: 315px;
	font-family: 'Noto Sans', sans-serif;
	font-size: 20px;
	left: 110px;
}